[run]
branch = True
omit = lib/*
       awslimitchecker/tests/*
       setup.py

[report]
exclude_lines =
    # this cant ever be run by py.test, but it just calls one function,
    # so ignore it
    if __name__ == .__main__.:
    if sys.version_info.+
    raise NotImplementedError
    except ImportError:
